<header class="bg-dark bg-gradient d-flex align-items-center justify-content-between p-2">
    <h2 class="app-title text-light" class="text-light">CRM</h2>
    <div class=" d-flex justify-content-around w-25">
        <a class="text-light text-decoration-none" href="/dashboard">Dashboard</a>
        <a class="text-light text-decoration-none" href="/clientes">Clientes</a>
        <a class="text-light text-decoration-none" href="/produtos">Produtos</a>
        <a class="text-decoration-none text-danger" href="/logout">Logout</a>
    </div>
</header>